body{
background-color: rgb(90, 131, 90);
color: aliceblue;
}
h1{
    font-size: 90px;
    margin-left:800px;
    margin-top: 80px;
    max-width: 50%;
}
#sau{
    margin-left: 800px;
    margin-top:200px;
    font-style: inherit;
}
#pic{
    text-align: left;
    margin-top: -800px;
    
}
img{
    height: 922px;
    width: 45%;
}